body{
    margin: 0;
    font-family: 'Baloo Bhai 2', cursive;
}

.flexible-container{
    display: flex;
    margin-bottom: 80px;
}

.half-width{
    width: 50%;
    padding: 5%;
    padding-left: 10%;
    padding-top: 5%;
}

.half-width img{
    width: 100%;
    margin-top: -60px;
}


h1{
    font-size: 50px;
    font-weight: 700;
    
}

h2{
    font-size: 40px;
    font-weight: 700;
}

h3{
    font-size: 30px;
    font-weight: 700;
}

p{
    font-size: 16px;
}
.text-color{
    color: #487eb0;
}

.focused{
    padding-left: 3%;
    border-radius: 5px;
    border-left: 5px solid #487eb0;
}

.link-btn{
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background-color: #ff5959;
}

.misson{
    display: flex;
    justify-content: space-evenly;
}

.misson-box{
    width: 33%;
    height: 450px;
    margin: 2%;
    padding: 20px 10px;
    border-radius: 10px;
    transition: 1s;
}

.misson-box:hover{
    box-shadow: 0 0 20px grey;
}

.my-misson-section h2{
    text-align: center;
    font-size: 40px;
}


.misson-box h3{
    font-size: 25px;
}
.misson-box img{
    width: 40%;
    height: 50%;
}

#misson{
    background: #edf5f6;
}

#visson{
    background: #ffeeee;
}

#goals{
    background: #fff4d6;
}

.develop{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;

}

.global-section{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 15%;
}


.contact-heading{
    text-align: center;
    color: blue;
    transition: 1s;
}

.contact-heading:hover{
    text-decoration: underline;
}


footer{
    background-color: black;
    color: white;
    padding: 20px 40px;
    width: 100%;
    text-align: center;
}

.contact-box{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px grey;
    border-radius: 10px;
}


form{
    margin: 35px;
}

.input-field{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid grey;
    border-radius: 15px;
    outline: none;
}

.textarea-field{
    height:100px;
    padding-top: 10px;
}

.btn{
    border-radius: 20px;
    border: 1px solid #3498db;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 12px;
    background-color: white;
    color: #3498db;
    transition: 1s;
}

.btn:hover{
    color: #fff;
    margin-top: 10px;
    background-color: #3498db;
}


footer h2{
    font-family: 'Lobster', cursive;
}

.red-color{
    color: red;
}
